<!DOCTYPE html>
<html lang="es">
↩
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>
	<link rel="stylesheet" href="styles.css">
</head>
<header>
	<h1>Fomulario Cliente</h1>
</header>

<main>
	</main>	

	<footer>
	    <p>&copy; 2024 Tienda Irene's - Todos los derechos reservados</p>
	    <a href="https://www.facebook.com/TiendaIrenes" target="_blank">Facebook</a>
	    <a href="https://www.instagram.com/TiendaIrenes" target="_blank">Instagram</a>
	    <a href="https://www.twitter.com/TiendaIrenes" target="_blank">Twitter</a>
	</footer>
</html>