<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>P. Visual</title>
	<link rel="stylesheet" href="styles.css">
</head>
<header>
	<h1><img src="../static/images/logounju.png" alt="Logo Facultad de Ingenieria" style="height: 80px;">Programacion Visual</h1>
	<nav>
		<a href="#" rel="noopener" title="Sitio">Inicio</a>
		<a href="#" rel="noopener" title="Sitio">Asignatura</a>
		<a href="#" rel="noopener" title="Sitio">Mas Info</a>
	</nav>
</header>
<main>
		<section>
			<h2>Bienvenidos</h2>
			<h3>Asignatura P.V</h3>
			<p>Esta es la pagina donde encontraras todo lo relacionado a la Programacion Visual!</p>
		</section>
		<section>
		<h2>Acerca de la Programacion Visual</h2>
			<h3>Introducion a la programacion!</h3>
			<h3>Java</h3>
			<ul>
				<li>Descripcion, Historia y Versiones de Java</li>
				<li>Estructuras secuenciales, selectivas y repetitivas</li>
				<li>Arrays y Matrices</li>
			</ul>
		</section>
		<section>
			<h2>Plan de Estudio / Programa de la materia</h2>
			<h3>Unidades!</h3>
			<table>
				<thead>
					<tr>
						<th>Numero de ID/Unidad</th>
						<th>Nombre</th>
						<th>Carga Horaria</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Unidad 1</td>
						<td>Lenguaje Java</td>
						<td>Semana 1,2,3</td>
					</tr>
					<tr>
						<td>Unidad 2</td>
						<td>Introduccion a Spring Boot</td>
						<td>Semana 4,5</td>
					</tr>
					<tr>
						<td>Unidad 3</td>
						<td>Gestion de Dependencias y Versionamiento</td>
						<td>A confirmar</td>
					</tr>
					<tr>
						<td>Unidad 4</td>
						<td>Spring Boot MVC</td>
						<td>A confirmar</td>
					</tr>
					<tr>
						<td>Unidad 5</td>
						<td>Clases de Negocio</td>
						<td>A confirmar</td>
					</tr>
					<tr>
						<td>Unidad 6</td>
						<td>Persistencia de Objetos</td>
						<td>A confirmar</td>
					</tr>
					<tr>
						<td>Unidad 7</td>
						<td>Manejo de Formularios</td>
						<td>A confirmar</td>
					</tr>
				</tbody>
			</table>
		</section>
	<aside>
	<a href="https://virtual.unju.edu.ar/course/view.php?id=2540" target="_blank" rel="noopener" title="Sitio web del Curso P. Visual">Aula Virtual</a>
	<br>
	<img src="../static/images/logo-fi-unju-.png" alt="Logo Facultad de Ingenieria" style="height: 300px;">
	</aside>
</main>
<footer>
    <p>&copy; 2024 PVisual Quiroga Irene - Todos los derechos reservados.</p>
</footer>	
</html>