<!DOCTYPE html>↩
<html lang="es">↩
↩
<head>↩
	<meta charset="UTF-8">↩
	<meta name="viewport" content="width=device-width, initial-scale=1.0">↩
	<title>Título de tu página</title>↩
	<link rel="stylesheet" href="styles.css">↩
</head>↩
<header>↩
	<h1>Irene's SHOP</h1>↩
	<nav>↩
		<a href="#" rel="noopener" title="Sitio">Inicio</a>↩
		<a href="#" rel="noopener" title="Sitio">Contactanos</a>↩
		<a href="#" rel="noopener" title="Sitio">Help</a>↩
	</nav>↩
</header>↩
<main>↩
		<section>↩
			<h2>Bienvenidos</h2>↩
			<h3>Tienda de deporte</h3>↩
			<p>Esta es la tienda de deportes del equipo Irene's!</p>↩
		</section>↩
		<section>↩
		<h2>Productos</h2>↩
			<h3>Version del productos</h3>↩
			<ul>↩
				<li>Descripcion</li>↩
				<li>Precio</li>↩
				<li>Stock</li>↩
			</ul>↩
		</section>↩
		<section>↩
			<h2>Equipo Irene's</h2>↩
			<h3>Tabla de Jugadores</h3>↩
			<table>↩
				<thead>↩
					<tr>↩
						<th>Nombre</th>↩
						<th>Edad</th>↩
						<th>Ciudad</th>↩
					</tr>↩
				</thead>↩
				<tbody>↩
					<tr>↩
						<td>Irene Quiroga</td>↩
						<td>23</td>↩
						<td>Jujuy</td>↩
					</tr>↩
					<tr>↩
						<td>Midoriya Deku</td>↩
						<td>17</td>↩
						<td>Tokyo</td>↩
					</tr>↩
					<tr>↩
						<td>Tsukishima Ken</td>↩
						<td>28</td>↩
						<td>Sendai</td>↩
					</tr>↩
				</tbody>↩
			</table>↩
		</section>↩
	<aside>↩
	<a href="https://myheroacademia.fandom.com/es/wiki/Izuku_Midoriya" target="_blank" rel="noopener" title="Sitio web de deku">Midoriya</a>↩
	<br>↩
	<img src="../static/images/midoriya.webp" alt="Jugador Midoriya Deku">↩
	</aside>↩
</main>↩
<footer>↩
    <p>&copy; 2024 Tienda Irene's - Todos los derechos reservados.</p>↩
</footer>	
	